.page {
    padding: 1rem;
    position: fixed;
    background-color: white;
    border-radius: 20px 20px 0 0;
    height: 596px;
    bottom: 0;
}

.section {
    margin-top: 1rem;
}

.gridView {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4열 고정 */
    gap: 1rem; /* 아이템 간격 */
    justify-items: center; /* 아이템 중앙 정렬 */
}

.title {
    font-weight: 700;
    font-size: 15px;
}
